body {
	margin: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.c-button {
	min-width: 100px;
	font-family: inherit;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676d7;
	color: #fff;
	padding: 8px 16px;
	font-size: 1rem;
	cursor: pointer;
}

.c-button:hover {
	background: #1d49aa;
}

.c-button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}

.night {
	background: black;
	color: white;
}

.day {
	background: white;
	color: black;
}
